.scroll {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 100px;
  background-color: black;
  color: white;
}
#line {
  position: fixed;
  top: 700px;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  border-bottom: 6px solid rgb(255, 255, 255);
  display: flex;
}
.box {
  background-color: black;
}
#kurten {
  position: absolute;
  left: 400px;
  width: 800px;
  border-bottom: 6px solid rgb(0, 0, 0);
}
#non-deaf-bar {
  left: 100px;
  bottom: 0px;
  position: absolute;
  height: 100px;
  width: 200px;
  background-color: blanchedalmond;
  text-align: center;
  font-size: 50px;
  transition: 0.1s;
}
#deaf-bar {
  right: 100px;
  bottom: 0px;
  position: absolute;
  width: 200px;
  background-color: blanchedalmond;
  text-align: center;
  font-size: 50px;
}
